docs/latex-builds
api/node_modules
api/api.bundled.yaml
frontend/src/api/generated
monolith/pkg/api/api.gen.go
monolith/tmp
monolith/c.out
microservices/api-gateway-logs
microservices/**/*.gen.go
microservices/medical-service/appointment-api/appointmentapi.gen.go
microservices/medical-service/appointment-api/appointmentapi.gen.go
camunda/api-gateway-logs
